/* [PERIOD SELECTOR] */
#cal-date {
  /* margin: 10px 0; */
  /* border: 1px solid; */
  float: left;
}
#cal-mth, #cal-yr{
  padding: 10px;
  font-size: 1.0em;
  border: 0;
  background:#9C27B0;
  color: #fff;
  border-radius: 7%; 
  text-align: center;
}
#cal-set{
  margin-bottom: 10px; 
  padding: 5px;
  font-size: 0.9em;
  border: 0;
  background:#9C27B0;
  color: #fff;
  border-radius: 7%;

}

/* [CALENDAR] */
#calendar {
  max-width: 100%;
  max-height: 70%;
  text-align: center;
  border-collapse: collapse;
}

#calendar tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #9C27B0;
  padding: 5px;
  text-align: center;
}
#calendar tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
  background-color: rgb(103, 210, 0);
}
#calendar tr.day td:hover {
  background-color: rgb(44, 104, 35);
}
#calendar tr td.blank {
  background: #f5f5f5;
}
#calendar .dd {
  font-size: 1.2em;
  color: white;
}
#calendar .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: black;
}

/* [ADD/EDIT EVENT] */
#cal-event form {
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}
#evt-date {
  color: #999;
  margin: 10px 0;
}
#cal-event textarea {
  display: block;
  box-sizing: padding-box;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  resize: none;
}
#cal-event input[type=button], #cal-event input[type=submit] {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #ea4c4c;
  color: #fff;
}

/* [DOES NOT MATTER] */
html, body, textarea, input ,h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page-body{
  max-width: 900px;
}

.boxRed{
  height: 25px;
  width: 25px;
  background-color:#FF4C4C;
  margin-left:10px; 
}

.boxGreen{
  height: 25px;
  width: 25px;
  background-color: rgb(103, 210, 0);
  margin-left: 10px;
  margin-right: 70px; 
}
