/* Login page */
.wrong{
    color: red;
}

.notYet{
    margin: 0;
}

/* profile */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;
}

.container{
    direction: ltr;
}

.rtl{
    /* direction: rtl; */
    text-align: right;
}

/* gallery */
.imgPic{
    -webkit-box-shadow: 7px 7px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 24px 0px rgba(0,0,0,0.75);
}

/* review */
#id_inputname{
    margin-right: 10px; 
    margin-bottom: 10px;
}

#id_input{
    margin-right: 10px; 
    padding-top: 0px;
    width: 250px;
}
.newli{
    /* list-style:none; */
    text-align: right;
    /* padding: 0 15px 15px 15px; */
}

.btnX{
    margin: 0 auto; 
    margin-bottom: 10px; 
    background-color: #9C27B0;
    color: white;
    padding: 0;
}

.titleReview{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 25px; 
}
 
/* stars rating */

.star{
    color: goldenrod;
    font-size: 2.0rem;
    padding: 0 0.1rem; /* space out the stars */
    }
    .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
    }
    .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
    }

    .stars{
        counter-reset: rateme 0;   
        font-size: 2.0rem;
        font-weight: 400;
    }
    .star.rated{
        counter-increment: rateme 1;
    }
    .stars::after{
        content: counter(rateme) '/5';
    }